<a href="https://colab.research.google.com/github/teleport55/Project_2-HeadHunter/blob/master/Project_2_%D0%9D%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA_%D1%88%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [1]:
import pandas as pd
import psycopg2

In [2]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [3]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [4]:
query_3_1 = f'''
            select count(*)
            from vacancies
            '''

In [5]:
count_vacancies = pd.read_sql_query(query_3_1, connection)
print(f"Количество вакансий: {count_vacancies['count'][0]} шт")

Количество вакансий: 49197 шт

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [ ]:
query_3_2 = f'''
            select count(*)
            from employers
            '''

In [ ]:
count_employers = pd.read_sql_query(query_3_2, connection)
print(f"Количество работодателей: {count_employers['count'][0]}")

Количество работодателей: 23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [ ]:
query_3_3 = f'''
            select count(*)
            from areas
            '''

In [ ]:
count_areas = pd.read_sql_query(query_3_3, connection)
print(f"Количество регионов: {count_areas['count'][0]}")

Количество регионов: 1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [ ]:
query_3_4 = f'''
            select count(*)
            from industries
            '''

In [ ]:
count_industries = pd.read_sql_query(query_3_4, connection)
print(f"Количество сфер деятельности: {count_industries['count'][0]}")

Количество сфер деятельности: 294

***

In [ ]:
'''
В исследовании участвует 49 тысяч вакансии, которые оставили 
23,5 тысяч различных предприятий в 294 сферах деятельности. 
Можно отметить, что это отличная выборка, по которой можно судить о состоянии рынка труда. 
'''

'\nВ исследовании участвует 49 тысяч вакансии, которые оставили \n23,5 тысяч различных предприятий в 294 сферах деятельности. \nМожно отметить, что это отличная выборка, по которой можно судить о состоянии рынка труда. \n'

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [ ]:
query_4_1 = f''' 
            select
              a.name,
              count(v.id) cnt
            from areas a
              join vacancies v on a.id = v.area_id
            group by a.name
            order by cnt DESC
            '''

In [ ]:
vacancy_by_region = pd.read_sql_query(query_4_1, connection)
print(vacancy_by_region)

                name   cnt
0             Москва  5333
1    Санкт-Петербург  2851
2              Минск  2112
3        Новосибирск  2006
4             Алматы  1892
..               ...   ...
764       Тарко-Сале     1
765    Новоаннинский     1
766            Бирск     1
767           Сасово     1
768             Анна     1

[769 rows x 2 columns]

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [ ]:
# текст запроса
query_4_2 = f'''
        select count(*)
        from vacancies
        where salary_from is not null
        or salary_to is not null
        '''

In [ ]:
vacancies_with_salary = pd.read_sql_query(query_4_2, connection) 
print(f"Количество вакансий с указанной зарплатой: {vacancies_with_salary['count'][0]}")

Количество вакансий с указанной зарплатой: 24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [ ]:
query_4_3 = f'''
              select 
                avg(salary_from) avg_from,
                avg(salary_to) avg_to
              from vacancies
              '''

In [ ]:
avg_salary = pd.read_sql_query(query_4_3, connection)
print(f"Средние значения нижней границы зарплатной вилки: {round(avg_salary['avg_from'][0],0)}")
print(f"Средние значения верхней границы зарплатной вилки: {round(avg_salary['avg_to'][0],0)}")

Средние значения нижней границы зарплатной вилки: 71065.0
Средние значения верхней границы зарплатной вилки: 110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
query_4_4 = f'''
              select
                schedule,
                employment,
                count(*)
              from vacancies
              group by schedule, employment
              order by count(*) DESC
              '''

In [ ]:
count_shedule_employment = pd.read_sql_query(query_4_4, connection)
print(count_shedule_employment)

            schedule           employment  count
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
query_4_5 = f'''
              select
                experience,
                count(*)
              from vacancies
              group by experience
              Order by count(*)
              '''

In [ ]:
count_experience = pd.read_sql_query(query_4_5, connection)
print(count_experience)

           experience  count
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

***

In [ ]:
''' 
В ходе анализа вакансий можно отметить следующее:
- в выборке есть вакансии не только по российским предприятиям и не только на территории РФ. Например, представлены вакансии в городах Минск (Беларусь), Алматы (Казахстан)
- наибольшее количество вакансий в крупнейших городах и промышленных центрах: Москва, Санкт-Петербург, Минск, Новосибирск, Алматы
- в выборке есть информация об актуальных вакансиях в 769 городах, в то время как общее количество зарегистрированных городов и населенных пунктов - 23,5 тыс.
- не менее половины вакансий не содержат информации о зарплате для соискателей
- по вакансиям, где указана зарплата, средние значения по "зарплате ОТ" - 71 тыс. руб, по "зарплате ДО" - 110 тыс. руб.
- наиболее популярное сочетание типа рабочего графика и типа трудоустройства - Полный день, полная занятость. 
Иные варианты трудоустройства и рабочего графика гораздо менее востребованы работодателями
- работодатели чаще ищут соискателей с опытом работы "от 1 года до 3 лет", вполовину реже - специалистов с опытом "от 3 до 6 лет". 
И гораздо реже ищут соискателей без опыта и специалистов со стажем более 6 лет.
'''

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
query_5_1 = f'''
              select
              e.name,
              count(*)
              from employers e
                JOIN vacancies v on e.id = v.employer_ID
              Group by e.name
              order by count(*) DESC
              '''

In [ ]:
most_active_employers = pd.read_sql_query(query_5_1, connection)
print(f"Компания на первом месте по количеству вакансий: {most_active_employers['name'][0]}")
print(f"Компания на пятом месте по количеству вакансий: {most_active_employers['name'][4]}")

Компания на первом месте по количеству вакансий: Яндекс
Компания на пятом месте по количеству вакансий: Газпром нефть

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
query_5_2 = f'''
            select 
            a.name,
            count(e.id) count_employers,
            count(v.id) count_vacancyies
            from areas a
              LEFT JOIN employers e on a.id = e.area
              LEFT JOIN vacancies v on a.id = v.area_id
            group by a.name
            --where count(v.id) is null
            order by count_vacancyies, count_employers DESC
            '''

In [ ]:
areas_employes_vacancies = pd.read_sql_query(query_5_2, connection)
print(f"Регион без вакансий и с наибольшим количеством работодателей: {areas_employes_vacancies['name'][0]}")

Регион без вакансий и с наибольшим количеством работодателей: Россия

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
query_5_3 = f'''
            select     
            e.name company,
            count(DISTINCT a.id)
            from vacancies v
              JOIN areas a on v.area_id = a.id
              join employers e on e.id = v.employer_id
            group by company
            order by count(DISTINCT a.id) DESC
            '''

In [ ]:
regions_of_employers = pd.read_sql_query(query_5_3, connection)
print(f"Максимальное количество вакансий в разных регионах по одной компании: {regions_of_employers['count'][0]}")
print(regions_of_employers)

Максимальное количество вакансий в разных регионах по одной компании: 181
                      company  count
0                      Яндекс    181
1                  Ростелеком    152
2                  Спецремонт    116
3      Поляков Денис Иванович     88
4                   ООО ЕФИН      71
...                       ...    ...
14761                  UniSol      1
14762            UNISTORY LLC      1
14763                   UNIT6      1
14764     United Distribution      1
14765              UNITEL LLC      1

[14766 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
query_5_4 = f'''
            select count(*)
            from employers e
              left join Employers_industries ei on ei.employer_id = e.id
            where ei.industry_id is null
            '''

In [ ]:
employers_without_ind_id = pd.read_sql_query(query_5_4, connection)
print(f"Количество работодателей без указания сферы деятельности: {employers_without_ind_id['count'][0]}")

Количество работодателей без указания сферы деятельности: 8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
query_5_5 = f''' 
            select
              e.name AS name,
              count(ei.industry_id)
            from employers e
              join Employers_Industries ei on e.id = ei.employer_id
            group by e.name
            having count(ei.industry_id) = 4
            order by name
            '''

In [ ]:
employer_shperes_third = pd.read_sql_query(query_5_5, connection)
print(f"Название компании на 3 месте по алфавиту и с 4 сферами деятельности: {employer_shperes_third['name'][2]}")

Название компании на 3 месте по алфавиту и с 4 сферами деятельности: 2ГИС

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
query_5_6 = f''' 
            select
              count(*)
            from employers e
              join Employers_Industries ei on e.id = ei.employer_id
              join industries i on ei.industry_id = i.id
            where i.name = 'Разработка программного обеспечения'
            '''

In [ ]:
count_employer_software = pd.read_sql_query(query_5_6, connection)
print(f"Количество работодателей работающих в сфере Разработка ПО: {count_employer_software['count'][0]} шт")

Количество работодателей работающих в сфере Разработка ПО: 3553 шт

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
url ='https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8'
tables_site = pd.read_html(url)

table_cities_millioners = tables_site[1]
list_city_millioners = []
list_city_millioners_broken = list(table_cities_millioners['Город'])
for item in list_city_millioners_broken:
  item = item.replace('[a]', '')
  list_city_millioners.append(item)

tuple_city_millioners = tuple(list_city_millioners)

In [ ]:
query_5_7 = f'''
            select
              a.name AS name,
              count(*) cnt
            from vacancies v
              join areas a on a.id = v.area_id
              join employers e on e.id = v.employer_id
            where e.name = 'Яндекс'
              and a.name in {tuple_city_millioners}
            group by a.name

            union

            select
            'total',
            count(v.id)
            from vacancies v
              join areas a on a.id = v.area_id
              join employers e on e.id = v.employer_id
            where e.name = 'Яндекс'
              and a.name in {tuple_city_millioners}

            
            order by cnt
            '''

In [ ]:
yandex_city_millioners = pd.read_sql_query(query_5_7, connection)
print(yandex_city_millioners)

               name  cnt
0              Омск   21
1         Челябинск   22
2        Красноярск   23
3         Волгоград   24
4             Пермь   25
5            Казань   25
6    Ростов-на-Дону   25
7               Уфа   26
8            Самара   26
9         Краснодар   30
10          Воронеж   32
11      Новосибирск   35
12  Нижний Новгород   36
13     Екатеринбург   39
14  Санкт-Петербург   42
15           Москва   54
16            total  485

***

In [ ]:
''' 
При исследованни работодателей обратил внимание на следующие факты:
- наиболее активными работодателями являются компании связанные с ИТ (Яндекс, Ростелеком) и банки (СБЕР, Тинькофф). 
Первый представитель сферы добычи полезных ископаемых - Газпромнефть, находится на 5 строчке в рейтинге наиболее активных работодателей
- из показателя "Регион с максимальным количеством компаний без активных вакансий" = "Россия", мы видим, 
что большое количество работодателей не верно заполнили данные о своем местоположении и городах присутствия.
- по количеству городов с активными вакансиями наиболее активными снова оказались Яндекс (181 городов) и Ростелеком (152 города). 
Интересно, что на 4 месте по количеству городов с актуальныи вакансиями идет Поляков Денис Иванович. 
Выгрузил данные по вакансиям этого работодателя, и увидел, что этот ИП активно ищет компьютерных мастеров в различных городах.
- 8,4 тыс работодателей не заполнили данные о сферах своей деятельности. 
Если у них настолько неполные данные в своей учетной карточке, вероятно это не самые надежные компании
- 3,5 тыс работодателей указали в сферах своей деятельности "Разработку ПО".
Чем больше работодателей в этой сфере, тем лучше в том числе и для начинающих специалистов - чтобы были шансы найти работу по новой специальности
- если детально посмотреть на вакансии Яндекса по городам-миллионникам, то видно, 
что не только в Москве и Санкт-Петербурге требуются специалисты, но и в других городах-миллионниках тоже.
'''

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
query_6_1 = f''' 
            select count(*)
            from vacancies
            where lower(name) LIKE '%data%' or lower(name) LIKE '%данн%'
            '''

In [ ]:
vacancies_data = pd.read_sql_query(query_6_1, connection)
print(f"Количество вакансия, связанных с данными: {vacancies_data['count'][0]}")

Количество вакансия, связанных с данными: 1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
query_6_2 = f''' 
            select 
            count(*)
            from vacancies
            where 
            (lower(name) LIKE '%data scientist%' 
            or lower(name) LIKE '%data science%'
            or lower(name) LIKE '%исследователь данных%'
            or (name LIKE '%ML%' and name NOT LIKE '%HTML%')
            or lower(name) LIKE '%machine%learning%'
            or lower(name) LIKE '%машинн%обучен%')
            and (lower(name) LIKE '%junior%' or experience = 'Нет опыта' or employment = 'Стажировка')
            '''

In [ ]:
vacancies_for_ds = pd.read_sql_query(query_6_2, connection)
print(f"Количество DS вакансий для новичков: {vacancies_for_ds['count'][0]} шт")

Количество DS вакансий для новичков: 51 шт

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
query_6_3 = f''' 
            select count(*)
            from vacancies
            where 
            (lower(name) LIKE '%data scientist%' 
            or lower(name) LIKE '%data science%'
            or lower(name) LIKE '%исследователь данных%'
            or (name LIKE '%ML%' and name NOT LIKE '%HTML%')
            or lower(name) LIKE '%machine%learning%'
            or lower(name) LIKE '%машинн%обучен%')
            and (key_skills LIKE '%SQL%' or lower(key_skills) LIKE '%postgres%')
            '''

In [ ]:
vacancies_with_SQL_postgres = pd.read_sql_query(query_6_3, connection)
print(f"Количество вакансий DS, где необходимы навыки SQL и Postgres: {vacancies_with_SQL_postgres['count'][0]} шт")

Количество вакансий DS, где необходимы навыки SQL и Postgres: 201 шт

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
query_6_4 = f''' 
            select count(*)
            from vacancies
            where 
            (lower(name) LIKE '%data scientist%' 
            or lower(name) LIKE '%data science%'
            or lower(name) LIKE '%исследователь данных%'
            or (name LIKE '%ML%' and name NOT LIKE '%HTML%')
            or lower(name) LIKE '%machine%learning%'
            or lower(name) LIKE '%машинн%обучен%')
            and lower(key_skills) LIKE '%python%'
            '''

In [ ]:
vacancies_with_python = pd.read_sql_query(query_6_4, connection)
print(f"Количество вакансий DS, где необходимы навыки Python: {vacancies_with_python['count'][0]} шт")

Количество вакансий DS, где необходимы навыки Python: 351 шт

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [10]:
query_6_5 = f''' 
            select  
            round(
            avg(
              length(key_skills) -
              length(replace(key_skills, CHR(9), '')) + 1
            ),2)
            from vacancies
            where 
            (lower(name) LIKE '%data scientist%' 
            or lower(name) LIKE '%data science%'
            or lower(name) LIKE '%исследователь данных%'
            or (name LIKE '%ML%' and name NOT LIKE '%HTML%')
            or lower(name) LIKE '%machine%learning%'
            or lower(name) LIKE '%машинн%обучен%')
            and key_skills is not null'''

In [11]:
count_key_skill_in_DS_vacancies = pd.read_sql_query(query_6_5, connection)
print(f"Среднее количество навыков, требуемых в вакансиях по DS: {count_key_skill_in_DS_vacancies['round'][0]} шт")

Среднее количество навыков, требуемых в вакансиях по DS: 6.41 шт

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [7]:
query_6_6 = f''' 
            select 
              experience,
              round(AVG(COALESCE((salary_from+salary_to)/2, salary_from, salary_to)),0) AS money
            from vacancies
            where 
            (lower(name) LIKE '%data scientist%' 
            or lower(name) LIKE '%data science%'
            or lower(name) LIKE '%исследователь данных%'
            or (name LIKE '%ML%' and name NOT LIKE '%HTML%')
            or lower(name) LIKE '%machine%learning%'
            or lower(name) LIKE '%машинн%обучен%')
            and (salary_from is not null or salary_to is not null)

            group by experience
            '''

In [9]:
avg_salary_DS_specialists = pd.read_sql_query(query_6_6, connection)
print(f"Средняя зарплата в сотрудников DS с опытом работы от 3 до 6 лет: {avg_salary_DS_specialists[avg_salary_DS_specialists['experience'] == 'От 3 до 6 лет']['money'][2]} руб")

Средняя зарплата в сотрудников DS с опытом работы от 3 до 6 лет: 243115.0 руб

***

In [ ]:
''' 
Выводы по анализу вакансий, имеющих отношение к DS:
- из 49 тысяч вакансий 1771 вакансий имеет отношения к данным. Это достаточно много, около 3-4% от общего количества вакансий
- всего 51 вакансия есть для начинающих специалистов по вакансиям, имеющим отношение к DS. 
Это не очень много, у начинающих специалистов вероятно очень большая конкуренция друг с другом за место в новой специальности
- в вакансиях по DS очень популярные требования к навыкам: по владению SQL (это требование указано в 201 вакансии) и языком Python (в 351 вакансии)
- в вакансиях по DS в среднем указывают 6,4 требуемых навыков, которые работодатели ждут от соискателей
- средняя зарплата в вакансиях по DS распределяется следующим образом: без опыта - 74.6 тыс.руб., с опытом от 1 до 3 лет - 139,6 тыс.руб, с опытом от 3 до 6 лет - 243,1 тыс.руб.
'''

# Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
'''
Для исследования предоставлена выборка, из которой можно извлечь ряд полезной информации и сделать ценные выводы. 
Видим, что часть данных из выборки нужно исключить: как минимум убрать работодателей без активных вакансий, 
в большом количестве вакансий не указаны необходимые данные о предлагаемой зарплате и/или ключевых навыков для соискателей.

По вакансиям по DS работодатели предъявляют достаточно высокие требования, 
даже от специалистов без опыта работы в среднем работодатели хотят видеть как минимум 6-7 ключевых навыков.

Вакансии по DS есть, зарплату на эти должности предлагают в среднем выше, чем по другим работам. 
Однако новичкам войти в профессию не так просто, т.к. конкуренция вероятно уже достаточно высокая.
'''
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования

'''
Ниже вывел навыки, которые работодатели чаще всего требуют от соискателей вакансий DS 
а также определил первую пятерку городов, где больше всего вакансий по DS.
'''

In [70]:
# Определим, какие навыки чаще всего требуют работодателей для вакансий по DS

# готовим SQL-запрос 
query_all_chart = f''' 
                  select 
                    key_skills
                  from vacancies
                  where
                  (lower(name) LIKE '%data scientist%' 
                  or lower(name) LIKE '%data science%'
                  or lower(name) LIKE '%исследователь данных%'
                  or (name LIKE '%ML%' and name NOT LIKE '%HTML%')
                  or lower(name) LIKE '%machine%learning%'
                  or lower(name) LIKE '%машинн%обучен%')
                  and key_skills is not null
                  '''

# результат запроса считываем как таблицу в Pandas
all_charts = pd.read_sql_query(query_all_chart, connection)

# готовим функцию, которая строку с навыками переведет в список навыков
def cnt_skills(all_skills):
  new_list = list(all_skills.split('\t'))
  return new_list

# применяем функцию к столбцу с перечнем навыков
all_lists = all_charts['key_skills'].apply(cnt_skills)

# создаем список, в котором будут хранится все навыки, требуемые всеми работодателями
all_skills = []

# собираем все требуемые навыки в один список
for item in all_lists:
  all_skills.extend(item)

# переводим список со списком всех навыков в множество, чем убираем дубли
set_skills = set(all_skills)

# создаем пустой словарь, где будут храниться все навыки, требуемые работодателями, значениями будет кол-во повторов
dict_skills = {}

# заполняем словарь значениями
for i in set_skills:
  dict_skills[i] = all_skills.count(i)

# создаем промежуточный список со значениями словаря 
sorted_values = reversed(sorted(dict_skills.values()))

# создаем словарь, в котором будут отсортированные значения
new_dict = {}

# сортируем словарь - в начале будут идти наиболее часто требуемые навыки
for j in sorted_values:
  for k in dict_skills.keys():
    if dict_skills[k] == j:
      new_dict[k] = dict_skills[k]
      break


print(f"Список наиболее часто встречаемых требований к специалистам по DS: {new_dict}")
print(f"Всего различных требований к соискателям по DS: {len(new_dict)} ")

Список наиболее часто встречаемых требований к специалистам по DS: {'Python': 348, 'SQL': 191, 'Machine Learning': 114, 'Git': 66, 'Математическая статистика': 62, 'Data Analysis': 54, 'Data Science': 52, 'ML': 49, 'Английский язык': 48, 'Linux': 47, 'PyTorch': 46, 'Big Data': 42, 'Математическое моделирование': 41, 'Статистический анализ': 40, 'C++': 39, 'Spark': 38, 'Tensorflow': 35, 'Numpy': 34, 'Hadoop': 33, 'Машинное обучение': 31, 'Docker': 30, 'Математический анализ': 29, 'Java': 28, 'Аналитическое мышление': 25, 'Deep Learning': 22, 'Data Mining': 21, 'Computer Vision': 19, 'PostgreSQL': 18, 'SCALA': 17, 'Аналитические исследования': 16, 'Scikit-learn': 14, 'Оценка рисков': 13, 'Qt': 12, 'docker': 11, 'QML': 10, 'MS Visual Studio': 9, 'R': 8, 'Управление проектами': 7, 'Golang': 6, 'Hive': 5, 'Аналитика': 4, 'pandas': 3, 'Исследования рынка': 2, 'Математические модели': 1}
Всего различных требований к соискателям по DS: 44

In [78]:
# определим, в каких городах больше всего вакансий с DS

# формируем SQL-запрос 
query_city_DS = f''' 
                  select 
                    a.name region,
                    count(v.id) cnt
                  from vacancies v
                    join areas a on v.area_id = a.id
                  where
                  (lower(v.name) LIKE '%data scientist%' 
                  or lower(v.name) LIKE '%data science%'
                  or lower(v.name) LIKE '%исследователь данных%'
                  or (v.name LIKE '%ML%' and v.name NOT LIKE '%HTML%')
                  or lower(v.name) LIKE '%machine%learning%'
                  or lower(v.name) LIKE '%машинн%обучен%')
                  group by  region
                  order by cnt DESC
                  '''

# результат запроса считываем как таблицу в Pandas
city_DS = pd.read_sql_query(query_city_DS, connection)
print(f"Первая пятерка городов с максимальным количеством вакансий по DS: \n{city_DS.iloc[:5]}")

Первая пятерка городов с максимальным количеством вакансий по DS:
            region  cnt
0           Москва  217
1  Санкт-Петербург   64
2      Новосибирск   23
3  Нижний Новгород   20
4           Казань   16